 @import "tailwindcss";

.btn{
    background-color: rgb(30, 27, 50);
    border: 2px solid white;
    width: 90px;
    height: 50px;
    padding: 10px 5px;
    font-size: small;
    padding: 5px;
    color: white;
    border-radius: 8px;
}
.nav-link{
    color: white;
}
.head{
    font: size 120px;;
    font-weight: 500;
}
.bt{
    border-radius: 13px;
}
.head2{
    font-size: 80px;
    font-weight: 500;
    margin-bottom: 100px;
}

@media (max-width: 768px) {
  .head2 {
    font-size: 40px;
  }
}
@media (max-width: 480px) {
  .head2 {
    font-size: 30px;
  }
} 
@media (max-width: 768px) {
  .head {
    font-size: 60px;
  }
}
@media (max-width: 480px) {
  .head {
    font-size: 40px;
  }
}